    .body-style{
        font-family: 'Varela Round', sans-serif;
    }
    
    .dark-red{
        background-color: #d64348 !important;
    }

    .logo:hover{
        animation: shake 2s ease-in;
    }

    .float-img{
        transform: scaleX(-1);
    }

    .heartbeat-bg {
        background-size: cover;
        background-image: url('../../assets/cardiogram.png');
        animation: pulse 90s linear infinite; /* Cambia el valor '3s' para ajustar la velocidad de la animación */    
    }
    
    .btn-pink{
        background-color: #ee696d !important;
        border: 2px solid #c5575a !important;
    }

    .no-rounded{
        border-radius: 0px !important;
    }

    .dark-letter{
        color:#d64348;
    }

    .dark-letter-fnt{
        color: #B72122;
    }

    .super-red-bg{
        background-color: rgb(208,38,42) !important;
    }

    /* Estilo rojo */
    .red-new-bg-degrade{
        background: rgb(208,38,42);
        background: linear-gradient(180deg, rgba(208,38,42,1) 0%, rgba(183,33,39,1) 100%);
        /* background: rgb(223,33,39) !important;
        background: linear-gradient(180deg, rgba(223,33,39,1) 0%, rgba(208,38,42,1) 50%, rgba(142,31,36,1) 100%) !important; */
    }

    .light-red-bg{
        background-color: #e4585d !important;
    }

    .one-light-red-bg{
        background-color: #e9787b !important;
    }


    .lightred-btn{
        background-color: #e4585d !important;
    } 

    .lightred-btn:hover{
        background-color: #e78588 !important;
    }

    .light-red-button{
        background-color: #e4585d !important;
        margin-left: 20px;
    }


    .no-border{
        border: none !important;

    }

    .light-red-button:hover{
        background-color: #F48C9D !important;
    }

    .light-boostrap-edited{
        background-color: #e4e9ec;
    }

    .dark-boostrap-edited{
        background-color: #313336  !important;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }
    
    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    
    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }
    

    .slider::before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: #B72122;
        -webkit-transition: .4s;
        transition: .4s;
    }
    
    input:checked + .slider {
        background-color: #B72122;
    }
    
    
    input:checked + .slider::before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
        box-shadow: inset -9px -1px 0px 0px  #F48C9D;
    }
    

        /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }
    
    .slider.round:before {
        border-radius: 50%;
    }

    .sections{
        overflow: hidden;
    }

    .custom-shape-divider-bottom-1690551278 {
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }
    
    .custom-shape-divider-bottom-1690551278 svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 150px;
    }
    
    .custom-shape-divider-bottom-1690551278 .shape-fill {
        fill: #8b8989;
    }
    

    /* Definición de estilos para los shape dividers */ 
    .custom-shape-divider-bottom-1690217194 {
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }
    
    .custom-shape-divider-bottom-1690217194 svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 150px;
    }
    
    .custom-shape-divider-bottom-1690217194 .shape-fill {
        fill:  #f0f0f0;
    }

    .custom-shape-divider-bottom-1690224878 {
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }
    
    .custom-shape-divider-bottom-1690224878 svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 150px;
    }
    
    .custom-shape-divider-bottom-1690224878 .shape-fill {
        fill: #8b8989;
    }


    
    .custom-shape-divider-bottom-landing svg,  .custom-shape-divider-bottom-footer svg{
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 150px;
        margin-bottom: -1px;
    }

    .custom-shape-divider-top-politics {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }
    
    .custom-shape-divider-top-politics svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 150px;
        transform: rotateY(180deg);
    } 


    /**/

    .custom-shape-divider-bottom-1698419758 {
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }
    
    .custom-shape-divider-bottom-1698419758 svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 150px;
    }
    
    .custom-shape-divider-bottom-1698419758 .shape-fill {
        fill: #CAC7C7;
    }
    
    .shape-fill {
        fill: #f8f9fa;
    }

    .shape-fill-dark {
        fill: #212529;
    }


    .accordion-button:not(.collapsed) {
        color: white !important;
        background-color:#af3539!important;
    }

    .accordion-button:not(.collapsed)::after {
        transform: rotate(180deg);
        color: white;
    }

    .accordion-item,.accordion-button{
        background-color: #e4585d !important;
    }

    .no-border{
        margin-top: -1px;
    }

    .drop-shadow-img{
        -webkit-filter: drop-shadow(5px 5px 15px #222);
        filter: drop-shadow(5px 5px 15px #222);
    }

    .sidebar {
        width: 20%;
        height: 100vh;
        background: #343a40;
    }

    .light-card{
        background-color: #f1ebeb;
    }


    .sidebar-btn:hover{
        color:white;
        background-color: #f5dada;
    }

    .a-sidebar{
        color:#d64348;
        text-decoration: none;
    }

    .a-sidebar:hover{
        color:#f12b31;
        text-decoration: none;
    }

    .dropdown-item:hover{
        color:#df0b12 !important;
        background-color: #969696 !important;
    }

    .blue-light-bg{
        background-color: #78c8ec !important;
    }


    /* Aqui va la lista de colores del manual de marca */

    /* FONDOS */
    .dark-red-handbook { 
        background-color:  #d11619 !important;
    }

    .dark-grey-handbook {
        background-color:  #8b8989 !important;
    }

    .mid-grey-handbook {
        background-color: #cac7c7 !important;
    }

    .light-grey-handbook {
        background-color: #f0f0f0 !important;
    }

    /* COLORES TEXTO */
    .dark-red-handbook-text {
        color:  #d11619 !important;
    }

    .dark-grey-handbook-text {
        color: #8b8989 !important;
    }

    .mid-grey-handbook-text {
        color: #cac7c7 !important;
    }

    .light-grey-handbook-text {
        color: #f0f0f0 !important;
    }


    /* SIDEBAR LAYOUT */

    .sidebar-btn-handbook{
        background-color: #f0f0f0!important;
    }

    .sidebar-btn-handbook:hover{
        background-color: #cac7c7 !important;
        font-weight: bold;
    }

    /* BOTONES */

    .dark-red-handbook-btn { 
        background-color:  #d11619 !important;
    }


    .dark-red-handbook-btn:hover{ 
        background-color:  #ff2327 !important;
    }

    .dark-grey-handbook-btn  {
        background-color:  #8b8989 !important;
    }

    .dark-grey-handbook-btn:hover  {
        background-color:  #aca9a9 !important;
    }


    .mid-grey-handbook-btn  {
        background-color: #cac7c7 !important;
    }

    .mid-grey-handbook-btn:hover  {
        background-color: #9e9c9c !important;
    }

    .light-grey-handbook-btn  {
        background-color: #f0f0f0 !important;
    }


    .light-grey-handbook-btn:hover  {
        background-color: #ffffff !important;
    }


    /* Fin lista de colores del manual*/



    /* Estilo gris */
    .grey-bg-degrade{
        background: rgb(150,150,150);
        background: radial-gradient(circle, rgba(150,150,150,1) 0%, rgba(100,100,100,1) 100%);
    }

    .gray-bg{
        background-color: #eeeeee !important;
    }

    .gray-border{
        border: 2px solid #b8b8b8;
    }

    .red-border{
        border: 2px solid #da6868 !important;
    }

    .pink-bg{
        background-color: #ff7276 !important;
    }

    .pink-bg:hover{
        background-color: #fa888c !important;
    }

    .dark-pink-bg{
        background-color: #b44042;
    }


    .light-pink-bg{
        background-color: #f4cdd4 !important;
    }

    .light-gray-bg{
        background-color: #F0F0F0!important;
    }

    .mid-gray-bg{
        background-color: #e7e7e7!important;
    }

    .btn-gray{
        background-color:#e2e1e1 !important; 
    }

    .btn-gray:hover{
        background-color:#dad6d6 !important;
    }

    .scrollbar-fonodx::-webkit-scrollbar {
        background-color: rgb(158, 157, 157) !important;
    }

    .scrollbar-fonodx::-webkit-scrollbar-thumb {
        background-color: rgb(68, 67, 67) !important;
    }
    .scrollbar-fonodx::-webkit-scrollbar-corner {
       background: rgba(0,0,0,0.5);
    }

    /* Personalizar la apariencia de la barra de desplazamiento en navegadores WebKit */
    .no-scrollbar::-webkit-scrollbar {
        width: 0.05em; /* Ancho de la barra de desplazamiento */
    }

    .no-scrollbar::-webkit-scrollbar-track {
        background: #f1f1f1; /* Color del fondo de la barra de desplazamiento */
    }

    .no-scrollbar::-webkit-scrollbar-thumb {
        background-color: #888; /* Color del pulgar de la barra de desplazamiento */
    }

    /* Estilo para aumentar la altura de celdas específicas */
    .tall-cell {
        height: 70px; /* Ajusta la altura según tus necesidades */
    }


    .display-flex {
        display: flex !important;
        flex-wrap: wrap !important;
    }

    .display-flex > [class*='col-'] {
        flex-grow: 1 !important;
    }

    .shadow-inside-edit{
        -webkit-box-shadow: inset -1px -2px 18px -4px rgba(0,0,0,0.30);
        -moz-box-shadow: inset -1px -2px 18px -4px rgba(0,0,0,0.30);
        box-shadow: inset -1px -2px 18px -4px rgba(0,0,0,0.30);
    }

    .spinnerHeartContainer {
        overflow: hidden;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6); /* Color oscuro con opacidad */
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999; /* Asegura que el spinner aparezca encima de todo */
    }

    /* Definición de la animación shake */
    @keyframes shake {
        0%, 100% {
        transform: translateX(0);
        }
        10%, 30%, 50%, 70%, 90% {
        transform: translateX(-5px);
        }
        20%, 40%, 60%, 80% {
        transform: translateX(3px);
        }
    }
    
    @keyframes pulse {
        from {
          background-position: 100% 0;
        }
        to {
          background-position: 0 0;
        }
    }

    @keyframes reveal {
        0% {
          opacity: 0; /* La imagen está oculta al inicio */
        }
        100% {
          opacity: 1; /* La imagen es completamente visible al final */
        }
    }

    @media (min-width: 375px) { 
        .float-img{
            width: 170px !important;
            height: 170px !important;
        }

        .card-index{
            margin-bottom: 50px !important;
        }
    }



    @media (min-width: 576px) { 
        .float-img{
            width: 200px !important;
            height: 200px !important;
        }

    }


    @media (min-width: 768px) { 
        .float-img{
            width: 200px !important;
            height: 200px !important;
        }
    }


    @media (min-width: 992px) { 
        .float-img{
            width: 300 !important;
            height: 300 !important;
        }
    }

    @media (min-width: 1200px) { 
        .float-img{
            width: 400px !important;
            height: 400px !important;
        }
    }

     @media (min-width: 1400px) { 
        .float-img{
            width: 500px !important;
            height: 500px !important;
        }
    }
